REACT_APP_API_BASE_URL=URL to backend like http://backend:port/
REDIS_URL=redis container name
PSQL_URL=postgres container name
PSQL_PASS=password for postgres user
PSQL_USER=postgres username
PSQL_DB=name of postgres database