server {
    listen 80;
    server_name proxy-test.xyz;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name proxy-test.xyz;

    ssl_certificate /etc/ssl/ssl.com.pem;
    ssl_certificate_key /etc/ssl/ssl.com.key;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location /api/ {
        proxy_pass http://{{ backend_private_ip }}:8080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        rewrite ^/api/?(.*)$ /$1 break;
    }

    location / {
        proxy_pass http://{{ frontend_private_ip }}:3000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
